@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root.light {
  --text-color-primary: #1d1d1d;

  --bg-color-primary: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-primary: #ffffff;

    --bg-color-primary: #1d1d1d;
  }
}

body {
  min-height: 100vh;
  color: var(--text-color-primary);
  background: var(--bg-color-primary);
  transition: color 0.5s, background-color 0.5s;

  font-family: "Roboto", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: normal;

  font-size: 14px;
  line-height: 1;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
